*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --darkblue: #02042a;
    --lightblue: #0b72e7;
}

header>div{
    height: 60px;
    width: 75vw;
}

#logo-box{
    height: 100%;
    width: 15%;
    margin-right: 55px;
}

.logo-img{
    height: 65%;
    width: 85%;
}

.header-text{
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-right: 20px;
    font-family: 'Libre Baskerville', serif;
}

#start-btn{
    padding: 5px 16px;
    background-color: #ff5b15;
    border: none;
    color: white;
    border-radius: 2px;
}

nav{
    background-color: var(--darkblue);
    height: 92px;
}

.razorpay-logo-box{
    height: 29%;
    width: 125px;
    padding: 28px 22px 28px 0;
}

.razorpay-logo-box>svg{
    height: 100%;
    width: 100%;
}


.nav-item-left{
    color: white;
    padding: 32px 12px 16px 12px;
}

.nav-btn{
    transition: all 0.15s ease-out;
    padding: 12px 20px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.2;
    cursor: pointer;
}

#login-btn{
    margin-right: 16px;
    border: var(--lightblue) 1px solid;
    border-radius: 0.125rem;
    background-color: var(--darkblue);
    color: white;
}

#signup-btn{
    color:  var(--lightblue);
    border: var(--darkblue) 2px solid;
    border-radius: 0.25rem;
}

.section-1{
    background-color: var(--darkblue);
}

.section-1 .hero-content{
    min-width: 410px;
    padding: 80px 0;
}

.section-1 .hero-heading{
    color: white;
    line-height: 1.2;
    font-size: 2.7rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.section-1 .hero-text{
    font-size: 1.4rem;
    color: white;
    opacity: 0.7;
    line-height: 1.75rem;
    margin: 20px 0;
}

.section-1 .hero-btn{
    line-height: 1.2;
    border-radius: 0.25rem;
    cursor: pointer;
    text-decoration: none;
    padding: 14px 18px;
    color:  white;
    background-color: var(--lightblue);
    display: inline-block;
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1rem;
}

.section-1 .hero-img>img{
    width: 95%;
    height: 100%;
}

#left-dots{
    display: inline-block;
    position: absolute;
    width: 233px;
    z-index: -1;
    top: -8rem;
    left: 10rem;
}

#right-dots{
    display: inline-block;
    position: absolute;
    width: 233px;
    z-index: -1;
    top: -8rem;
    left: 10rem;
}

.section-2{
    padding-top: 16px;
    margin-bottom: 2rem;
}

.section-2>h2{
    font-weight: 800;
    line-height: 1.2;
    font-size: 1.5rem;
}

.section-2 .entire-hero {
    margin: 64px 0;
    padding: 40px 48px;
    border: 0.8px solid #818597;
    border-radius: 0.5rem;
}

.section-2 .hero-heading{
    font-size: 1.75rem;
    max-width: 510px;
}

.section-2 .hero-heading span{
    color: var(--lightblue);
}

.hero-img {
    width: 100%;
    max-width: 600px;
}

.hero-list{
    list-style: none;
    margin: 32px 0 0 16px;
    padding: 16px;
}

.list-item {
    font-size: 1rem;
    line-height: 2.125rem;
}

.hero-btn-list{
    padding: 2rem 0;
}

.hero-signup-btn{
    text-decoration: none;
    padding: 14px 18px;
    background-color: var(--lightblue);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: white;
    border: var(--lightblue) 1px solid;
    border-radius: 0.25rem;
}

.hero-know-more-btn{
    text-decoration: none;
    padding-left: 1.5rem;
    color: var(--lightblue);
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.card-grid{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem 2rem;
}

.card{
    position: relative;
    text-decoration: none;
    padding: 1.5rem 2rem 1.25rem;
    background: url(./card-shape-white.svg);
}

.card-grid .card-icon{
    background-color: #2b84ea;
    position: absolute;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 9999px;
    left: 281px;
    top: 3px;
    z-index: -1;
}

.card h3{
    color: black;
    font-size: 1.375rem;
    font-weight: 800;
}

.card p{
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #818597;
    font-weight: 500;
}

.card .know-more{
    color: var(--lightblue);
    font-weight: 700;
}

.section-2 .last-div{
    border: 1px solid rgb(86, 86, 230);
    border-radius: 5px;
    width: calc(100% - 2rem);
    padding: 1rem;
    font-size: 1rem;
    margin-top: 2rem;
    background: linear-gradient(180deg, rgba(74, 144, 245, 0.21) -34.7%, rgba(125, 186, 244, 0.063) 100%, rgba(125, 186, 244, 0.1295) 100%);
}

.last-div span{
    font-weight: 700;
    margin-right: 5px;
}

.last-div a{
    margin-left: 5px;
    text-decoration: none;
    color: var(--lightblue);
    font-weight: 700;
}

.section-2-navbar{
    position: fixed;
    display: flex;
    height: 64px;
    top: 0;
    left: 0;
    display: none;
    background-image: url(https://razorpay.com/build/browser/static/RZPnavbarstickyweb.216a6664.svg);
}

.section-2-navbar svg{
    height: 40%;
    width: 125px;
    padding: 28px 22px 28px 0;
}

.section-2-navbar button{
    height: 40%;
    background-color: var(--lightblue);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: solid var(--lightblue) 1px;
    border-radius: 5px;
}

.section-3{
    padding-top: 14rem;
    padding-bottom: 500px;
    background-image: url(https://razorpay.com/build/browser/static/x-dark-bg.0bc3bc00.svg);
    background-size: calc(2 * 100%) 100%;
    position: relative;
    background-color: 800px 0px;
    color: white;
    clip: none;
}

.section-3>h2{
    font-weight: 800;
    line-height: 1.2;
    font-size: 1.5rem;
}

.section-3 .entire-hero {
    margin: 64px 0;
    padding: 40px 48px;
    border: 0.8px solid #818597;
    border-radius: 0.5rem;
}

.section-3 .hero{
    min-width: 47%;
    min-width: 47%;
}

.section-3 .hero-heading{
    font-size: 1.75rem;
    max-width: 510px;
}

.hero-list{
    list-style: none;
    margin: 32px 0 0 16px;
    padding: 16px;
}

.list-item {
    font-size: 1rem;
    line-height: 2.125rem;
}

.hero-btn-list{
    padding: 2rem 0;
}

.hero-btn-list div{
    position: relative;
    width: 1.5rem;
    padding: 0 0.75rem;
    background-color: #61cea6;
    transform: skew(20deg);
    height: 3.5rem;
    right: 75px;
}

.green svg{
    transform: skew(-20deg);
    margin-left: 5px;
}

.hero-signup-btn{
    text-decoration: none;
    padding: 14px 90px 14px 18px;
    background-color: var(--lightblue);
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: white;
    border: var(--lightblue) 1px solid;
    border-radius: 0.25rem;
}

.hero-know-more-btn{
    text-decoration: none;
    padding-left: 1.5rem;
    color: var(--lightblue);
    font-weight: 700;
    cursor: pointer;
    font-size: 1rem;
}

.section-3 .card{
    background: url(./card-shape-blue.svg) !important;
}

.section-3 .card-icon{
    z-index: 0;
}

.section-3 .card h3{
    color: white;
    font-size: 1.375rem;
    font-weight: 800;
}

.card p{
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #818597;
    font-weight: 500;
}

.section-3 .last-div{
    border: 1px solid rgb(86, 86, 230);
    border-radius: 5px;
    width: calc(100% - 2rem);
    padding: 2rem 1rem;
    font-size: 20px;
    margin-top: 2rem;
}

.section-3 .last-div .green {
    position: relative;
    width: 2rem;
    padding: 0 0.5rem;
    background-color: #61cea6;
    transform: skew(20deg);
    height: 3.75rem;
    right: 87px;
}

.section-3 .last-div *{
    margin-right: 10px;
}

.section-3 .last-div button{
    background-color: var(--lightblue);
    padding: 1rem 90px 1rem 1rem;
    border: 1px solid var(--lightblue);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 800;
    color: white;
}

.section-3-navbar{
    position: fixed;
    display: flex;
    height: 64px;
    top: 0;
    left: 0;
    display: none;
    background-image: url(https://razorpay.com/build/browser/static/RZPnavbarstickyweb.216a6664.svg);
}

.section-3-navbar svg{
    height: 40%;
    width: 125px;
    padding: 28px 22px 28px 0;
}

.section-3-navbar button{
    height: 40%;
    background-color: var(--lightblue);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem 2rem;
    border: solid var(--lightblue) 1px;
    border-radius: 5px;
}

.section-4 h2 span{
    color: var(--lightblue);
}

.card-grid-4{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem 1rem;
}

.card-4{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
    text-decoration: none;
    padding: 3rem;
    border-radius: 5px;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.card-4 h3{
    color: black;
    font-size: 1.375rem;
    font-weight: 800;
    margin-top: 1rem;
}

.card-4 p{
    margin-top: 1.5rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #818597;
    font-weight: 500;
}

.card-4 .know-more{
    color: var(--lightblue);
    font-weight: 700;
}

.section-4 .card-grid-4 h2{
    font-size: 2.8rem;
    font-weight: 800;
    color: #02042a;
    line-height: 3.375rem;
}

#upi-autopay img{
    background-color: #2b84ea;
    height: 40px;
    width: 40px;
    border-radius: 9999px;
}

.section-5{
    background-image: url(https://razorpay.com/build/browser/static/features-bg.61935438.svg);
    padding-top: 12rem;
    padding-bottom: 8rem;
    color: white;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.section-5>div>p{
    max-width: 450px;
    text-align: center;
    font-size: 1rem;
}

.card-grid-5{
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,4fr);
}

.section-5 .card-5{
    max-width: 360px;
    text-decoration: none;
    padding: 1.5rem 2rem 1.25rem;
    border-radius: 5px;
}

.card-5>h3{
    margin-bottom: 10px;
    margin-top: 10px;
}

