:root{
    --darkblue: #02042a;
}

.flex {
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.grid{
    display: grid;
}

.container{
    width: 70vw;
    padding-left: 15vw;
    padding-right: 15vw;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-start{
    justify-content: start;
}

.align-center {
    align-items: center;
}

.small-line{
    width: 24px;
    height: 4px;
    background-color: #61cea6;
    margin: 16px 0;
    display: inline-block;
}

.list-item::before{
    content: "";
    position: relative;
    top: 0.5rem;
    right: 1.5rem;
    border: solid 2px #85dfca;
    border-left: 0;
    border-top: 0;
    height: 1rem;
    width: 0.5rem;
    float: left;
    transform: rotate(45deg);
}

.section-2:hover{
    .section-2-navbar{
        display: flex;
    }
}

.section-3:hover{
    .section-3-navbar{
        display: flex;
    }
}